.page {
  height: 100%;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 20px;
  color: $base-black;
}

.page__body {
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
