.range {
  @media (min-width: $tablet-width) {
    padding-left: 7px;
  }
}

.range__controls {
  position: relative;
  min-width: 180px;
  padding: 11px 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    min-width: 219px;
  }

  @media (min-width: $desktop-width) {
    min-width: 318px;
  }
}

.range__scale {
  position: relative;
  margin-left: 1px;
  height: 2px;
  background-color: $light-grey;
}

.range__bar {
  position: absolute;
  width: 80%;
  height: 4px;
  bottom: -1px;
  background: $primary-lighter;
}

.range__bar--disabled {
  background-color: $base-grey;
}

.range__toggle {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $base-white;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
  cursor: pointer;

  &:focus {
    outline: none;

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $primary-opacity;
    }
  }

  &:hover {
    outline-color: $base-primary;

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $primary-opacity;
    }
  }

  &:active {
    outline-color: $base-primary;

    &::before {
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $base-primary;
    }
  }
}

.range__toggle--max {
  left: 80%;
}

.range__toggle--disabled {
  border-color: $base-grey;

  &:focus {
    &::before {
      content: "";
      background-color: $base-white;
    }
  }
}

.range__price-controls {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    left: 48%;
    top: 45%;
    height: 2px;
    width: 9px;
    background-color: $base-grey;
  }
}

.range__label input {
  width: 55px;
  padding: 5px 29px;
  text-align: center;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 6px 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 37px;
  }

  &:focus {
    outline: none;
    border-color: $primary-darker;
  }

  &:disabled {
    border-color: $light-grey;
  }
}
